# dependencies
plugin/node_modules

# IDE
plugin/.idea
plugin/.vscode

# testing
plugin/coverage
# "fixtures" is not currently used in the project, but opening the cypress UI creates a demo folder that we don't want to add to the project
plugin/cypress/fixtures
plugin/cypress/screenshots
plugin/cypress/videos

# production
plugin/dist

# misc
plugin/.DS_Store
plugin/.env.local
plugin/.env.development.local
plugin/.env.test.local
plugin/.env.production.local

plugin/npm-debug.log*
plugin/yarn-debug.log*
plugin/yarn-error.log*


